<ul class="nav nav-pills main-menu">
    <li routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"><a routerLink="" (click)="change('visible')">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/about" (click)="change('hidden')">About</a></li>
    <li routerLinkActive="active"><a routerLink="/staff" (click)="change('hidden')">Staff</a></li>
    <li routerLinkActive="active"><a routerLink="/dances" (click)="change('hidden')">Dances</a></li>
    <li routerLinkActive="active"><a routerLink="/history" (click)="change('hidden')">History</a></li>
    <li routerLinkActive="active"><a routerLink="/galary" (click)="change('hidden')">Galary</a></li>
    <li routerLinkActive="active"><a routerLink="/contact" (click)="change('hidden')" >Contact</a></li>
</ul>
<!--<button (click)="change(false)">button</button>-->