.main-menu > li{
    margin-left: 12px;
    font-family: monospace;
    font-size: x-large;
}
.main-menu > li > a{
    color: black !important;
}
.main-menu > li.active > a{
    background-color: azure;
    opacity: 0.6;
}
.main-menu > li.hover > a{
    background-color: azure;
    opacity: 0.6;
}
.main-menu {
    position: relative;
    top: 100;
    left: 20px;
    background-image: url(img/background-main-menu.jpg);
    border-radius: 13px;
}
