<section class="main-menu" id="Horatio">
    <nav class="menu menu--horatio">
        <ul class="menu__list">
            <li class="menu__item" routerLinkActive="menu__item--current" [routerLinkActiveOptions]="{exact:true}">
                <a class="menu__link " routerLink="" (click)="change('visible')">Домашняя</a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--current">
                <a class="menu__link" routerLink="/about" (click)="change('hidden')">О нас</a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--current">
                <a class="menu__link" routerLink="/staff" (click)="change('hidden')">Танцоры</a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--current">
                <a class="menu__link" routerLink="/dances" (click)="change('hidden')">Танцы</a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--current">
                <a class="menu__link" routerLink="/history" (click)="change('hidden')">История</a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--current">
                <a class="menu__link" routerLink="/gallery" (click)="change('hidden')">Галерея</a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--current">
                <a class="menu__link" routerLink="/news" (click)="change('hidden')">Новости</a>
            </li>
            <li class="menu__item" routerLinkActive="menu__item--current">
                <a class="menu__link" routerLink="/contact" (click)="change('hidden')">Контакты</a>
            </li>
            <li class="menu__lines"></li>
        </ul>
    </nav>
</section>