/nbproject/private/
app/app.component.js
app/app.component.js.map
app/app.module.js
app/app.module.js.map
app/child.component.js
app/child.component.js.map
app/main.js
app/main.js.map
app/mainMenu.component.js
app/mainMenu.component.js.map
app/mainPhoto.component.js
app/mainPhoto.component.js.map

