.main-container {
    position: absolute;
    left: 40%;
}
.main-photo{
    position: relative;
    left: 10%;
    top: 20%;
}

#foot-line > img{
    position: fixed;
    bottom: 10px;
    width: 200px;
}

#left-logo {
    width: 400px;
}
