<div class="col-lg-3 main-photo">
     <div  [@visibilityChanged]="visibility">
        <main-photo></main-photo>
    </div>
    <div *ngIf="visibility  == 'hidden'">
        <img src="img/logo-fresky.jpg" >
    </div>
</div>

<div class="col-lg-6 main-container">
    <div id="logo-image">
        <img src="img/logo-fresky.jpg"  [@visibilityChanged]="visibility">
    </div>
    <div>
        <main-menu (onChanged)="onChanged($event)"></main-menu>
    </div>
    <div class="pages">
        <router-outlet></router-outlet>
    </div>
    <div id="main-phrase">
        <img src="img/phrase-fresky.jpg" [@visibilityChanged]="visibility">
    </div>
    <div id="foot-line">
        <img src="img/foot-line.jpg">
    </div>
</div>